<article>
    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>
    <p><strong>Author:</strong>👤 {{post.author}}</p>
    <p><strong>Likes:</strong> {{post.likes}}</p>
    <p><strong>Comments:</strong> {{post.comments}}</p>
</article>
